html{
  font-size: 18px;
  background-color: white;
}
body{
  font-family: Helvetica;
  width: auto;
  margin: 0 0 0 0;
}
/*Header*/
header{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
      background-repeat:no-repeat;
      background-position: center;
      background-size: cover;
      height: 30rem;
}
h1{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
.logo{
  background-color: cadetblue;
  display: flex;
  align-items: center;
  color: white;
}
.logo img {
    margin: 1.5rem 1rem;
    height: 1.5rem;
  }
  .logo nav{
    display: flex;
    justify-content: flex-end;

  }
  ul{
  margin-right: 1rem;
  }

  ul li {
  display: inline;
  padding: 1rem 1rem;
  color: white;

}
.flex-container .main2{
  background-color: white;
padding:2rem 3rem;
display: inline-block;
margin-top: 10rem;
margin-right: -2rem;
line-height: 1.2rem;
}

 .menu{
  justify-content: flex-end;
}
